@use "variables" as *;

.screen {
  position: relative;
  margin: 3em;
  height: 600px;
  width: 400px;
  border-radius: 20px;
  border: 10px solid $row-shadow;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 660px) {
  .screen {
    height: 550px;
    width: 350px;
  }
}
@media (max-width: 480px) {
  .screen {
    height: 400px;
    width: 250px;
  }
}
