@use "variables" as *;

.introduction {
  display: flex;
  flex-direction: column;

  img {
    margin: 3em 2em 0 12em;
  }

  .title {
    padding: 0;
    margin-bottom: 0;
    font-family: $font;
    font-size: $title-size-secondary;
    color: $text-color-light;
  }

  .text {
    padding: 0;
    margin: 0;
    font-family: $font;
    font-size: $text-size;
    color: $text-color-light;
  }
}

@media (max-width: 1050px) {
  .introduction {
    padding: 30em 0 0 0;
    flex-direction: column-reverse;

    .icon {
      align-self: center;
    }

    img {
      margin: 5em 0;
    }
  }
}

@media (max-width: 830px) {
  .introduction {
    padding: 28em 0 0 0;

    .title {
      font-size: $title-size-secondary-830px;
    }

    .text {
      font-size: $text-size-830px;
    }
  }
}

@media (max-width: 660px) {
  .introduction {
    padding: 23em 0 0 0;

    .title {
      font-size: $title-size-secondary-660px;
    }

    .text {
      font-size: $text-size-660px;
    }
  }
}

@media (max-width: 480px) {
  .introduction {
    padding: 30em 0 0 0;
  }
}
