@use "variables" as *;

.argument {
  font-family: $font;
  font-size: 1.8rem;
  color: $text-color-center;
  background-color: $background-color-argument;
  margin: 0.4em;
  padding: 20px 60px;
  border-radius: 10px;
  min-width: 300px;
  transition: transform 0.2s ease, background-color 0.2s ease;

  img {
    padding: 0.5em 0;
  }
  &:hover {
    transform: scale(1.01);
    background-color: $row-hover;
    box-shadow: 10px 10px $row-shadow;
  }
}
