@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

//Background colors
$background-color-bar: #262527;
$background-color-body: #b097bf;

//Font
$font: "Inter", sans-serif;
//Text color
$text-color-light: #ffffff;
$text-color-medium: #b097bf;
$text-color-dark: #262527;

//Font size
