@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

//BACKGROUND COLORS
$background-color-bar: #262527;
$background-color-body: #b097bf;
$background-color-argument: #d9d9d9;
$background-color-table1: #ffffff;
$background-color-table2: #c3b0cd;

//HOVER
$hover: #00bc52;
$row-hover: #efeeee;

$row-shadow: #8f739f;

//FONT
$font: "Inter", sans-serif;

//TEXT COLORS
$text-color-light: #ffffff;
$text-color-medium: #d9d9d9;
$text-color-center: #b097bf;
$text-color-dark: #262527;

//FONT SIZE
//primary
$title-size-primary: 5.3rem;
$title-size-primary-1300px: 4.5rem;
$title-size-primary-830px: 4rem;
$title-size-primary-660px: 3.5rem;

$text-size-primary: 3rem;

//secondary
$title-size-secondary: 3.5rem;
$title-size-secondary-830px: 3rem;
$title-size-secondary-660px: 2.5rem;

//table
$title-size-table: 2rem;
$text-size-table: 1.5rem;

$title-size-table-830px: 1.6rem;
$title-size-table-660px: 1.2rem;
$title-size-table-480px: 1rem;
$title-size-table-400px: 0.9rem;

$text-size-table-830px: 1.2rem;
$text-size-table-660px: 1rem;
$text-size-table-480px: 0.8rem;
$text-size-table-400px: 0.8rem;

//footer
$text-size-footer: 1.5rem;

//autre - commun
$text-size: 2.5rem;
$text-size-830px: 2rem;
$text-size-660px: 1.5rem;
