@use "variables" as *;

.navbar {
  background-color: $background-color-bar;
  color: $text-color-light;
  font-family: $font;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 4.5rem;
  box-sizing: border-box;
  .textNavbar {
    width: 100%;
    display: flex;
    align-items: center;
    .titleNavbar {
      margin-left: 10px;
    }

    .download {
      margin-left: auto;
    }
  }
}
